body {
  background: linear-gradient(176deg, #38b815, #d32e2e);
  background-size: 400% 400%;
}

.search-box {
  margin: 300px auto;
  position: relative;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  transition: 0.5s;
  width: 0;
  height: 0;
  border: 0;
  padding: 0 25px;
  font-size: 18px;
  border-radius: 8px;
}

.btn {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.fa-search {
  font-size: 20px;
}

.btn:hover {
  background: #68b92a;
}
.hide {
  width: 300px;
  margin-right: 10px;
  height: 50px;
}
